.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs
.settings/org.maven.ide.eclipse.prefs
target/classes/uk/org/bleepbleep/infinispan/tutorial/LoggingListener.class
target/classes/uk/org/bleepbleep/infinispan/tutorial/Node0.class
target/classes/uk/org/bleepbleep/infinispan/tutorial/Node1.class
target/classes/uk/org/bleepbleep/infinispan/tutorial/util/ClusterValidation.class
target/dependency/i18nlog-1.0.10.jar
target/dependency/infinispan-core-4.2.0.FINAL.jar
target/dependency/jboss-common-core-2.2.14.GA.jar
target/dependency/jboss-logging-spi-2.0.5.GA.jar
target/dependency/jboss-transaction-api-1.0.1.GA.jar
target/dependency/jgroups-2.11.0.GA.jar
target/dependency/marshalling-api-1.2.3.GA.jar
target/dependency/rhq-pluginAnnotations-3.0.1.jar
target/dependency/river-1.2.3.GA.jar